.grid-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .list-group-flush{
        .list-group-item{
            padding: {
                right: 0;
                left: 0;
            };
        }
    }
    .material-icons{
        font-size: 20px;
    }
}
@media (min-width: 768px){
    .grid-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px; 
        
    }
}
@media (min-width: 1024px){
    .grid-cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}